nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav li {
  cursor: pointer;
}

nav h2 {
  margin: 0;
}